*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4B4B4B;
    overflow-x: hidden;
}

.wrapper{
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}
a,img,span,input,textarea,button,svg,path {
	transition: .3s all ease;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main-title{
    color: #2d2d55;
    font-size: 60px;
    font-weight: 500;
}
.main-btn{
    border-radius: 33px;
    background: #bd272d;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
}
.main-btn:hover{
    background: #2D2D55;
}

/* Header start */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 16px 0;
}
.header .header-navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
}
.logo:hover{
    color: #2d2d55;
}
.header .header-contact{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-contact .head-contact__link:hover{
    transform: scale(1.1);
}

.header .header-mob{
    position: fixed;
    z-index: 10;
    right: -200%;
    top: 0;
    height: 100vh;
    width: 610px;
    background-color: #FFF;
    padding: 16px 58px;
    transition: .3s ease all;
}
.header .header-mob.active{
    right: 0;
}
.header .header-mob + .header-mob-bg{
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    opacity: 0;
    transition: .3s ease all;
}
.header .header-mob.active + .header-mob-bg{
    z-index: 9;
    opacity: .7;
}
.header-mob .header-mob-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.header-mob .header-mob__navs{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}
.header-mob .header-mob-link{
    color: #333333;
    font-size: 42px;
    font-weight: 600;
    line-height: 51px;
}
.header-mob .header-mob-link:hover{
    color: #bd272d;
}
/* Header end */

/* Home start */
.home{
    background-image: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 266px 0 162px;
}
.home .home-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.home .home-title{
    color: #FFF;
    font-size: 60px;
    font-weight: 500;
    line-height: 73px;
    max-width: 636px;
}
.home .home-text{
    color: #FFF;
    font-size: 18px;
    line-height: 22px;
    max-width: 525px;
    margin-top: 10px;
}
.home .home-link{
    padding: 14px 35px;
    margin: 0 auto 0 0;
}
/* Home end */

/* Charter start */
.charter{
    background-image: url(../images/charter-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 260px;
    position: relative;
    margin-bottom: 48px;
}
.charter .charter-title{
    margin-bottom: 30px;
    text-align: center;
}
.charter .charter-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.charter-item .charter-img{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    width: 69px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 19px;
}
.charter-item .charter-item__title{
    color: #000000;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.charter-item .charter-item__text{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
}
/* Charter end */

/* About start */
.about{
    padding-bottom: 191px;
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 105px;
}
.about-content .about-title{
    text-align: start;
}
.about-content .about-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 525px;
}
.about-info .about-info-texts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about-info .about-info-text{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 140%;
}
.about-content .about-img,
.about-content .about-img img{
    width: 100%;
}
/* About end */

/* Yachts start */
.yachts{
    padding-bottom: 130px;
}
.yachts .yachts-cards{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 20px;
}
.yachts-card.d-none{
    display: none;
}
.yachts-card .swiper-pagination-bullet{
    width: 64px;
    height: 1px;
    background-color: #A5AAC4;
    border-radius: 0;
    opacity: 0;
}
.yachts-card:hover .swiper-pagination-bullet{
    opacity: 1;
}
.yachts-card .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #BD272D;
}
.yachts-card .yacht-card-info{
    padding: 20px 8px 28px 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.yachts-card .yachts-img img,
.yachts-card .yachts-img{
    width: 100%;
}
.yacht-card-info .yacht-card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yacht-card-info .yacht-card-top .yacht-card__top-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.yacht-card-info .yacht-card-top .yacht-card__top-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.yacht-card-info .yacht-card__top-icon span,
.yacht-card-info .yacht-card__price{
    color: #a0a0a0;
    font-size: 14px;
    line-height: 140%;
}
.yacht-card-info .yacht-card-title{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 2%;
}
.yacht-card-info .yacht-card-title:hover{
    color: #bd272d;
}
.yacht-card-info .yacht-card__price b{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2%;
}
.yacht-card-info .yacht-card__price span{
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}
.yachts .yachts-big-card{
    position: relative;
}
.yachts-big-card .yachts-big-card-img{
    width: 100%;
    height: 100%;
}
.yachts-big-card .yachts-big-card-info {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 52px;
}
.yachts-big-card .yachts-big-card-info h3{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 10px;
}
.yachts-big-card .yachts-big-card-info p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 20px;
}
.yachts-big-card .yachts-big-card-info .big-card-link{
    padding: 15px 30px;
}
.yachts .yachts-more-btn{
    width: 100%;
    padding: 14px 30px;
    border-radius: 33px;
    background: #2d2d55;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.yachts .yachts-more-btn:hover{
    background: rgb(189, 39, 45);
}
/* Yachts end */

/* Request start */
.request{
    padding-bottom: 170px;
}
.request .request-content{
    padding: 60px 70px;
    border-radius: 15px;
    background: #2d2d55;
}
.request-content .request-title{
    margin-bottom: 20px;
    color: #FFF;
    font-size: 60px;
    font-weight: 500;
    line-height: 73px;
}
.request-content .form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.request-content .input-form-groups{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 21px;
}
.request-content .input-form-group{
    display: flex;
    align-items: start;
    gap: 20px;
    width: 33%;
}
.request-content .input-form-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.request-content .input-form-item label{
    color: #a7a8b5;
    font-size: 18px;
    line-height: 22px;
}
.request-content .input-form-item input,
.request-content .input-form-item select{
    box-sizing: border-box;
    border: 1px solid #bcbcbf;
    border-radius: 4px;
    padding: 14px 17px 14px 15px;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    height: 50px;
    background-color: transparent;
    outline: none;
    color-scheme: dark;
    width: 100%;
}
.request-content .input-form-item input::placeholder{
    color: #FFF;
}
.request-content .input-form-item #dateInp{
    width: 100%;
}
.request-content .select-form-item{
    width: 130px;
}
.request-content .input-form-item select{
    position: relative;
    width: 100%;
}
.request-content .input-form-item select option,
.request-content .input-form-item select option.active{
    background: #2d2d55;
    cursor: pointer;
}
.request-content .price-form-item .input-form-item-inps{
    display: flex;
    align-items: center;
    gap: 5px;
}
.request-content .input-form-item-inps span{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.request-content .request-btn{
    margin-left: auto;
    padding: 14px 35px;
}
/* Request end */

/* Destination start */
.destination{
    padding-bottom: 130px;
}
.destination .destination-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 24px;
}
.destination-top .destination-text{
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}
.destination .destination-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.destination-cards .destination-card{
    position: relative;
    width: 100%;
}
.destination-card .destination-card-img,
.destination-card .destination-card-img img {
    width: 100%;
}
.destination-card .destination-card-info{
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.destination-card .destination-card-info .destination-card-title{
    color: #ffffff;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2%;
}
.destination-card .destination-card-info .destination-card-text{
    color: rgb(223, 223, 223);
    font-size: 18px;
    line-height: 140%;
}
.destination .swiper,
.charter .swiper{
    padding-bottom: 40px;
}
.destination .swiper-pagination,
.charter .swiper-pagination{
    gap: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.destination .swiper-pagination-bullet,
.charter .swiper-pagination-bullet{
    background: rgb(180, 196, 227);
    width: 14px;
    height: 14px;
}
.destination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.charter .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: rgb(189, 39, 45);
}
/* Destination end */

/* Ship About start */
.ship-about{
    padding-bottom: 116px;
}
.ship-about .ship-about__content{
    display: flex;
    align-items: start;
    gap: 45px;
}
.ship-about .ship-about__info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ship-about__info .ship-about__info-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ship-about__info .ship-about__info-top .ship-about-text{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 140%;
}
.ship-about__info .ship-about__items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ship-about__info .ship-about__item {
    display: flex;
    align-items: start;
    gap: 24px;
}
.ship-about__info .ship-about__item .ship-about__item-num{
    color: #000000;
    font-size: 34px;
    font-weight: 300;
    line-height: 41px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(189, 39, 45);
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 13px 8px;
}

.ship-about__info .ship-about__item .ship-about__item-info{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ship-about__info .ship-about__item .ship-about__item-title{
    color: #000000;
    font-size: 24px;
    line-height: 29px;
}
.ship-about__info .ship-about__item .ship-about__item-text{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
}
/* Ship About end */

/* Contact start */
.contact{
    padding-bottom: 120px;
}
.contact .contact-content{
    position: relative;
}
.contact-content .contact-card{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding: 50px 80px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-card .contact-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-card-info .contact-card-link{
    display: flex;
    align-items: center;
    gap: 12px;
}
.contact-card-info .contact-card-link:nth-child(3) {
    gap: 7px;
}
.contact-card-info .contact-card-link a{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
    max-width: 315px;
}
.contact-content .contact-map{
    width: 80%;
    height: 560px;
    margin-left: auto;
}
.contact-content .contact-map iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
/* Contact end */

/* Footer start */
.footer{
    background: #2a2a3b;
    padding: 54px 0px 45px;
}
.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-content .footer-navs{
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer-content .footer-nav-link{
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
}
/* Footer end */


/* Custom modal start */
.custom-modal{
    position: fixed;
    z-index: 11;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 1130px;
    transition: .5s ease all;
}
.custom-modal.active{
    left: 0;
}
.custom-modal.active + .custom-modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: 9;
}
.custom-modal .custom-modal__close{
    position: absolute;
    right: -62px;
    top: 50px;
}
.custom-modal__content::-webkit-scrollbar {
    width: 0;   
}
.custom-modal .custom-modal__content{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding: 100px 105px 125px 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.custom-modal__content .custom-modal__top{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 20px;
}
.custom-modal__top .custom-modal__top-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-modal__top-info .custom-modal__price b{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 2%;
}
.custom-modal__top-info .custom-modal__price span{
    color: #2d2d2d;
    font-size: 18px;
    line-height: 140%;
}
.custom-modal__top-info .custom-modal__top-link{
    color: #2d2d2d;
    font-size: 18px;
    line-height: 140%;
}
.custom-modal__content .custom-slider{
    padding-bottom: 40px;
}
.custom-modal__content .custom-slider__big{
    display: flex;
    align-items: start;
    gap: 21px;
}
.custom-slider__big .swiper{
    margin: 0;
}
.custom-slider__big .custom-swiper__big-wrap{
    max-width: 778px;
    height: 484px;
}
.custom-slider__big img{
    width: 100%;
}
.custom-slider__big .custom-swiper__big-mini{
    width: 128px;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0) !important;
    gap: 9px;
}
.custom-slider__big .custom-swiper__big-mini .swiper-slide,
.custom-slider__big .custom-swiper__big-mini .swiper-slide img{
    width: 128px;
    border-radius: 10px;
    cursor: pointer;
}
.custom-swiper__big-mini .swiper-slide img{
    border: 2px solid transparent;
}
.custom-swiper__big-mini .swiper-slide.swiper-slide-thumb-active img{
    border: 2px solid #BD272D;
}

.custom-modal__content .custom-modal__info{
    padding: 40px 0;
    border-top: 1px solid rgb(164, 164, 164);
    border-bottom: 1px solid rgb(164, 164, 164);
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.custom-modal__info .custom-modal__info-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.custom-modal__info .custom-modal__info-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.custom-modal__info .custom-modal__info-item span{
    color: #a0a0a0;
    font-size: 18px;
    line-height: 140%;
}
.custom-modal__info .custom-modal__info-item b{
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
}

.custom-modal__content .custom-modal__keys{
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 40px 0;
    border-bottom: 1px solid rgb(164, 164, 164);
}
.custom-modal__keys .custom-modal__key-title{
    color: #000000;
    font-size: 24px;
    line-height: 29px;
}
.custom-modal__content .custom-keys-items{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px
}
.custom-modal__keys .custom-keys-item{
    display: flex;
    flex-direction: column;
    max-width: 256px;
    gap: 11px;
}
.custom-modal__keys .custom-keys-item img{
    width: 33px;
    height: 33px;
}
.custom-modal__keys .custom-keys-item p{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 140%;
}

.custom-modal__content .custom-modal__form{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
}
.custom-modal__form .custom-modal__form-top{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.custom-modal__form .custom-modal__form-top p{
    max-width: 769px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 140%;
}
.custom-modal__form .custom-modal__group{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.custom-modal__group .custom-modal__group-inp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.custom-modal__group .custom-modal__group-inp label{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
}
.custom-modal__group .custom-modal__group-inp input{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    padding: 14px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(188, 188, 191);
    border-radius: 4px;
}
.custom-modal__form .custom-modal__textare{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.custom-modal__form .custom-modal__textare label{
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
}
.custom-modal__form .custom-modal__textare textarea{
    resize: none;
    min-height: 100px;
    width: 100%;
    padding: 14px 15px;
    color: #4b4b4b;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    border: 1px solid rgb(188, 188, 191);
    border-radius: 4px;
}
.custom-modal__form .custom-modal__textare textarea:focus{
    outline: none;
}
.custom-modal__form .custom-modal__btns{
    display: flex;
    align-items: center;
    gap: 22px;
}
.custom-modal__form .custom-modal__btn{
    padding: 14px 35px;
    height: 50px;
}
.custom-modal__form .custom-modal__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 35px;
    box-sizing: border-box;
    border: 1px solid rgb(189, 39, 45);
    border-radius: 33px;
    height: 50px;    
    color: #232323;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: uppercase;
}
.custom-modal__form  .custom-modal__back{
    padding: 14px 35px;
    width: 100%;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #232323;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid rgb(189, 39, 45);
    border-radius: 33px;
}
/* Custom modal end */



/* Media query */
@media only screen and (max-width: 1250px){
    .custom-modal .custom-modal__content {
        padding: 65px 50px 90px 50px;
    }
    .custom-modal {
        width: 810px;
    }
    .custom-slider__big .custom-swiper__big-mini .swiper-slide, 
    .custom-slider__big .custom-swiper__big-mini .swiper-slide img{
        width: 95px;
    }
}
@media only screen and (max-width: 1100px) {
    .ship-about-img{
        display: none;
    }
    .request-content .input-form-group{
        width: 100%;
    }
    .footer-content .footer-navs {
        gap: 25px;
    }
}